*{
	margin: 0;
	padding: 0;
}
body{
	overflow-x: hidden;
	background-color: #F8F8F8
}
h1{
	font-size: 6.25em;
	font-family: 'Montserrat', sans-serif;
	transition: all 2s ease;
}
h4{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 500;
	letter-spacing: 1px;
	transition: all 2s ease;
}

/* ---------------------------------------Landing Page------------------------- */


.intro{
	background-image: url('images/bg2.png');
	width:100%;
	height: 100vh;
	border: 35px solid white;
	overflow-x: hidden !important;
}
.intro .intronamediv{
	width: 50%;
	margin:150px auto 0 auto;
}
#introname{
	text-align:left;
	color:black;	
}
.socialmediadiv{
	background-color: white;
	width:25px;
	margin-left:100%;
	line-height:2;
	padding-left: 5px;
}
.socialmediadiv ul{
	list-style: none;
}
.socialmediadiv i{
	color: black;
	margin-right:50%;
}
.introdescription{
	transform: rotate(-90deg);
	width: 20%;
	float:left;
	position:absolute;
	bottom: 40%;
	color:#dee3e2;
	left:-7%;
	transition:all 2s ease;
}
.introdescription:hover{
	letter-spacing: 1px;
}
.introdescription:hover > #india{
	color: black;
}
.introdescription:hover > #frontend{
	color: black;
}
.scroll{
	transform: rotate(-90deg) !important;
	width: 6%;
	margin: auto;
	animation:scrolldown 2s linear infinite;
	position: absolute;
	bottom:15%;
	right:48%;
	text-align: center;
	color: black;
}
@keyframes scrolldown {
 0%{
		transform: translateY(0) rotate(0deg);
		opacity: 1;
	}
	100%{
		transform: translateY(80px) rotate(0deg);
		opacity: 0;
	}
}
/* ---scroll-animation--- */
.box-area{
	position: absolute;
	top: -35px;
	left: 10%;
	width: 86%;
	height: 100%;
	overflow: hidden;
}
.box-area li{
	position: absolute;
	display: block;
	list-style: none;
	width: 25px;
	height: 25px;
	animation: animate 20s linear infinite;
	bottom: -150px;
}
.box-area li:nth-child(1){
	left: 86%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
}
.box-area li:nth-child(2){
	left: 15%;
	width: 30px;
	height: 30px;
	animation-delay: 1.5s;
	animation-duration:10s;
}
.box-area li:nth-child(3){
	left: 70%;
	width: 100px;
	height: 100px;
	animation-delay: 5.5s;
}
.box-area li:nth-child(4){
	left: 70%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration:15s;
}
.box-area li:nth-child(5){
	left: 65%;
	width: 40px;
	height: 40px;
	animation-delay: 0s;
}
.box-area li:nth-child(6){
	left: 18%;
	width: 110px;
	height: 110px;
	animation-delay: 3.5s;
}
.box-area li:nth-child(7){
	left: 5%;
	width: 35px;
	height: 35px;
	animation-delay: 3.5s;
}

@keyframes animate{
	0%{
		transform: translateY(0) rotate(0deg);
		opacity: 1;
	}
	100%{
		transform: translateY(-800px) rotate(360deg);
		opacity: 0;
	}
}


/* -----------------------------Second Div Start---------------------- */

.secondrow{
	padding-bottom:0;
	width: 100%;
	background-color: #F8F8F8;
	padding-bottom: 50px;
	/* overflow-x: hidden !important; */
}
.secondrow h1{
	margin:150px auto 0 auto;
	text-align:left;
	width:75%;
	color: #FF5851;
}
#underrowhr{
	border: 5px solid  #FF5851;
	width: 80%;
	background-color:  #FF5851;
	display: inline-block;
}
.second-right-part{
	text-align: center;
	border-right: 10px solid  #FF5851;
	border-bottom: 10px solid  #FF5851;
	transition: all 2s ease;	
}
.second-right-part:hover{
	padding: 0 50px;
	background-color:#FF5851; 
}
.second-right-part:hover p{
	color: white;
	width: 100%;
	background-color: #FF5851;
	line-height:2.5;
	font-size: 130%; 
}
.second-right-part:hover img{
	opacity:0.4; 
}
.second-right-part:hover a{
	color: black;
}
.second-right-part img{
	width: 200px;
	height: 200px;
	margin-top:150px;
	margin-bottom: 50px;
	transition: all 2s ease;
}
.second-right-part p{
	width: 70%;
	margin:1px auto;
	margin-bottom: 50px;
	line-height:2;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size:110%;
	transition: all 2s ease;
}
.second-right-part a{
	color: #4C80B2;
	cursor: pointer;
}
.second-right-part a:hover{
	text-decoration: none;
}

/* ----------------------------------------Skill Div------------------------ */

.skillrow{
	padding-bottom: 0;
	background-color:#dbdbdb;
	width: 100%;
	margin: 50px 0;
	margin-bottom:70px;
	overflow-x: hidden !important;
}
#mob-skill-titleh1{
	display: none;
}
#mob-skill-titleh4{
	display: none;
}
#tap{
	display: none;
}
.chart{
	height:400px;
	width:400px;
	transform: rotate(-90deg);
	margin-left:auto;
	margin-bottom:50px;
}
.chartbar{
	transition: all 2s ease;
	margin-top:13px;
	height:40px;
	width:100px;
}



#chartbar1{
	background: linear-gradient(to bottom, #28a745 0%, #99ffcc 126%);
}
#chartbar2{
    background: linear-gradient(to bottom, #17a2b8 0%, #66ccff 126%);	
}
#chartbar3{
	background: linear-gradient(to bottom, #ffca2c 0%, #ffffcc 126%);
}
#chartbar4{	
	background: linear-gradient(to bottom, #dc3545 0%, #ff6666 126%);
}
#chartbar5{	
	background: linear-gradient(to bottom, #007bff 0%, #99ccff 126%);
}
#chartbar6{	
	 background: linear-gradient(to bottom, #d56a82 0%, #ff99cc 126%);
}




.skillrow:hover #chartbar1{
	width: 350px;
}
.skillrow:hover #chartbar2{
	width: 300px;
}
.skillrow:hover #chartbar3{
	width: 290px;
}
.skillrow:hover #chartbar4{
	width: 320px;
}
.skillrow:hover #chartbar5{
	width: 320px;
}
.skillrow:hover #chartbar6{
	width: 300px;
}




.chartbar p{
	background-color:#522D5B;
	padding:5px 10px 12px 10px;
	width:100px;
	color: white;
	font-weight:300;
}
#arrowfa{
	display: none;
	opacity: 0;
}

#skillrow-right i{
	display: block;
	position: absolute;
	top: 120px;
	color: #d2d2d2;
}
#skillrow-right h1{
		margin:100px auto 20px 0;
		text-align:left;
		font-size: 5em;
		width:70%;
		color: #FF5851;
		letter-spacing:2px;
}
#skillrow-right h4{
		width: 30%;		
}
#skillrow-right #webimage{
	position: absolute;
	top:165px;
	width:30%;
	left:60%;
	animation:round 2s linear infinite;
}

@keyframes round{
 0%{
		transform: translateY(0) rotate(0deg);
		opacity: 1;
	}
	50%{
		transform: translateY(35px) rotate(0deg);
		opacity: 1;
	}

	100%{
		transform: translateY(0) rotate(0deg);
		opacity: 1;
	}
}
#skillrow-right #webimage:hover{
	animation-play-state: paused;
}



/* --------------------------------------project div------------------------------ */



.projectdivhr{
	background-color: #FF5851;
	border:5px solid #FF5851;
	width: 80%;
	margin:0 0 150px auto;
}
.projectdiv{
	background-color:#F8F8F8;
	width: 100%;
	height:auto;
	padding-bottom: 100px;
	overflow-x: hidden !important;
}
.projec-ttitle-col{
	display:flex;
	justify-content: space-around;
	align-content: center;
}
.project-title{
	height:100px;
	transform: rotate(-90deg);
	margin-top:200px;
}
.projectdiv .projec-ttitle-col h1{
		color: #FF5851;
}
#testimonials{
	text-align: right;
}
.container-fluid{
	color: #fff;
	text-align: right;
}
.carousel-image{
	height: 400px;
	width: 800px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius:10px;
	margin-bottom:30px;
}	
.carousel-icon{
	margin-top: 20px;
}
.carousel-control-prev{
	animation:prevbtn 1.5s linear infinite;
	padding-left: 100px;

}
@keyframes prevbtn{
 0%{
		transform: translateX(0) rotate(0deg);
		opacity: 1;
	}
	50%{
		transform: translateX(-20px) rotate(0deg);
		opacity: 1;
	}
	100%{
		transform: translateX(0) rotate(0deg);
		opacity: 1;
	}
}
.container-fluid h2{
		font-family: 'Montserrat', sans-serif;
		font-size: 3em;
		transition: all 2s ease;
		color: #522d5b;
		letter-spacing:2px;
}
.container-fluid h4{
		width: 80%;
		font-family: 'Ubuntu', sans-serif;
		font-weight: 500;
		letter-spacing: 1px;
		transition: all 2s ease;
		margin-left: auto;
		color: #474747;
}





/* -------------------------network------------------------------- */




.network{
	width: 100%;
	height: 100vh;
	background-color:#202040;
	margin: 0;
	padding-bottom:50px;
	clip-path: polygon(0% 0%,100% 0%,100% 100%,50% 90%,0% 100%);
	overflow-x: hidden !important;
}
.row{
	width: 100%;
	height:auto;
}
.network-left{
	width: 100%;
}
.mob-network-div{
	display: none;
}
.network-left table{
	margin:10% auto;
	width:80%;
	height:20%;
	text-align: center;
	transition: all 3s ease;
}
.network-left table td{
	padding: 20px 50px;
}
.network-left table td i{
	display: none;
}
.network-left table td h3{
	display: none;
}
#fb-td{
	background-color: #5173BC;
	transition: all 1s ease;
}
#ig-td{
	background-color: #E74C3C;
}
#tt-td{
	background-color: #3498DB;
}
#gh-td{
	background-color: #24292E;
	color:#FFFFFF;
}
#li-td{
	background-color: #2980B9;
}
#so-td{
	background-color: #05CD51;
}
#fb-data{
  background: linear-gradient(to right, #5173BC 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 1s ease-out;
}
.network-left table #fb-data:hover{
	background-position: left bottom;
}

.network-left table #fb-data:hover i{
	display:block;
	position: absolute;
	color: white;

}
.network-left table #fb-data:hover h3{
	display:block;
	position: absolute;
	margin-left: 40px;
	color: white;
}
.network-left table #fb-data:hover h4{
	display: none;
}
.network-left table #fb-data:hover p{
	display: none;
}
#gh-data{
	background: linear-gradient(to right,  #24292E 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 1s ease-out;
}
.network-left table #gh-data:hover{
	background-position: left bottom;
}
.network-left table #gh-data:hover i{
	display:block;
	position: absolute;
	color: white;

}
.network-left table #gh-data:hover h3{
	display:block;
	position: absolute;
	margin-left: 40px;
	color: white;
}
.network-left table #gh-data:hover h4{
	display: none;
}
.network-left table #gh-data:hover p{
	display: none;
}
#tt-data{
	background: linear-gradient(to right,  #3498DB 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 1s ease-out;
}
.network-left table #tt-data:hover{
	background-position: left bottom;
}
.network-left table #tt-data:hover i{
	display:block;
	position: absolute;
	color: white;

}
.network-left table #tt-data:hover h3{
	display:block;
	position: absolute;
	margin-left: 40px;
	color: white;
}
.network-left table #tt-data:hover h4{
	display: none;
}
.network-left table #tt-data:hover p{
	display: none;
}
#so-data{
	background: linear-gradient(to right, #05CD51 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 1s ease-out;
}
.network-left table #so-data:hover{
	background-position: left bottom;
}
.network-left table #so-data:hover i{
	display:block;
	position: absolute;
	color: white;

}
.network-left table #so-data:hover h3{
	display:block;
	position: absolute;
	margin-left: 40px;
	color: white;
}
.network-left table #so-data:hover h4{
	display: none;
}
.network-left table #so-data:hover p{
	display: none;
}
#ig-data{
	background: linear-gradient(to right, #E74C3C 50%,#dee3e2 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 1s ease-out;
}
.network-left table #ig-data:hover{
	background-position: left bottom;
}
.network-left table #ig-data:hover i{
	display:block;
	position: absolute;
	color: white;

}
.network-left table #ig-data:hover h3{
	display:block;
	position: absolute;
	margin-left: 40px;
	color: white;
}
.network-left table #ig-data:hover h4{
	display: none;
}
.network-left table #ig-data:hover p{
	display: none;
}
#li-data{
	background: linear-gradient(to right, #2980B9 50%, #dee3e2 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 1s ease-out;
}
.network-left table #li-data:hover{
	background-position: left bottom;
}
.network-left table #li-data:hover i{
	display:block;
	position: absolute;
	color: white;

}
.network-left table #li-data:hover h3{
	display:block;
	position: absolute;
	margin-left: 40px;
	color: white;
}
.network-left table #li-data:hover h4{
	display: none;
}
.network-left table #li-data:hover p{
	display: none;
}
.network-left table p{
	margin-bottom:0;
}
.network-left table h4{
	margin-top:0;
}
.network-right h1{
	transform:rotate(90deg);
	margin-top: 90px;
	margin-left: 150px;
	font-family: 'Montserrat', sans-serif;
	text-align:left;
	font-size: 6em;
	transition: all 2s ease;
	color: #FF5851;
	letter-spacing:2px;
	width:auto;
}
.network-right:hover h1{
	letter-spacing: 6px
}
.network-right h4{
	transform:rotate(90deg);
	margin-top:30px;
	margin-right:200px;
	width:100%;
	font-family: 'Ubuntu', sans-serif;
		font-weight: 500;
		letter-spacing: 1px;
		transition: all 2s ease;
		color: white;
}





/* ------------------------------Contact------------------------------------- */



.contact-container{
	overflow-x: hidden !important;
}



.contact-container h1{
	margin:50px auto;
	margin-bottom: 100px;
	font-size: 4em;
	color: rgba(34, 34, 34, 1.0);
	letter-spacing: 2px;
}
.contact-row-info{
	padding: 50px 0 50px 0;
}
.contact-row-table table{
	width: 80%;
	margin: 0 auto 0 auto;
}
.contact-row-table table tr{
	margin-bottom: 10px;
}
.contact-row-table{
	padding: 50px 0 50px 0;
	background-color: rgba(34, 34, 34, 1.0) !important ;
}
.contact-container{
	margin-top: 50px;
	margin-bottom: 50px;
}
.contact-row-info h6{
	width: 80%;
}

#footer{
	color:white;
	background-color:rgba(34, 34, 34, 1.0) ;
	padding: 15px;
	margin-bottom: 0;
	display: flex;
}
#footer p{
	line-height:40px;
	color: #F8F8F8;
}


/* ---------------------------------------Media Query----------------------- */

@media(max-width: 1000px){



body{
	transition-timing-function: ease;
	overflow-x: hidden !important;
}
h1{
	font-size: 3.25em;
	letter-spacing:1px;
}
h4{
	font-size: 1.25em;
}


/* --------------------------------Landing Page-------------------------- */




.intro{
	border:none;
	background-image: url('images/bg.png');
	overflow: hidden;
}
.intro .intronamediv{
	margin:180px auto 0 auto;
}
#introname{
	font-size: 300%;
	line-height: 1.5;
	padding-right:10px;
}
.socialmediadiv{
	display: none;
}
.introdescription{
	width: 80%;
	float:left;
	position:absolute;
	bottom: 35%;
	color:#dee3e2;
	left:-35%;

}
.box-area{
	top: 0;
	left: 10%;
	width: 90%;
	height: 100%;
}


/* ------------------------------seconf div----------------------------------- */


.secondrow{
	margin:0 ;
}
.secondtitle h1{
	margin:0 auto 0 auto;
}
.secondtitle h1:hover{
	letter-spacing:0;
}
.second-right-part:hover{
	padding:0;
	background-color:#FF5851; 
}
.second-right-part img{
	margin-top:50px;
	margin-bottom:20px;
}
.second-right-part p{
	width: 80%;
	font-weight: 200;
	line-height:2;
}
.row{
	padding: 0;
	padding-bottom: 30px;	
}


/* -----------------------------------------Skill Div------------------------ */




.skillrow{
	overflow: hidden;
	padding-bottom:0;
	background-color:#F8F8F8;
	margin-bottom:0;
	margin-top:30px;
}
#mob-skill-titleh1{
	display:block;
	color: #FF5851;
	text-align: center;
}
#mob-skill-titleh4{
	display:block;
	color:black;
	text-align: center;
}
#tap{
	display:block;
	position: absolute;
	font-size: 2.5em;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 2px;
	left: 20%;
	top: 30%;
	opacity: 0.3;

}
.skillrow:hover #tap{
	opacity: 0;
}
.chart{
	height:auto;
	width: auto;
	transform: rotate(-90deg);
	margin-left:0;
	margin-top: 100px;
	margin-bottom:20px;
}

.chartbar p{
	background-color:#522D5B;
	padding:5px 10px 12px 10px;
	width:100px;
}
.skillrow-hr{
	display:block;
}
#arrowfa{
	display:none;
}
#skillrow-right h1{
	display:none;
}
#skillrow-right h4{
	display: none;
}
#skillrow-right #webimage{
	display: none;
}
#skillrow-right:hover h1{
		letter-spacing: 6px;

	}
#skillrow-right:hover h4{
		letter-spacing: 3px;
		width: 100%;
	}


/* --------------------------------------project div------------------------------ */




.projectdivhr{
	display:block;
	margin:0 0 40px auto;
}
.projectdiv{
	height:auto;
	padding-bottom:120px;
	margin: 0;
}
.projec-ttitle-col{
	width: 100%;
}
.project-title{
	width: 100%;
	transform: rotate(0deg);
	margin-top:0px;
	margin-bottom: 30px;
}
.projectdiv h1{
		margin-left:30%;
		width:50%;
}
.projectdiv h4{
		width: 80%;
		margin-left:20%;
		font-size: 1em;
		margin-bottom: 50px;
		text-align: right;
}
.container-fluid{
	color: #fff;
	text-align:center;
}
.carousel-image{
	margin-top: 20px;
	height: auto;
	width: 100%;
	margin-bottom:30px;
}	
.carousel-control-prev{
	margin-top: 400px;
	margin-left:25%;
}
.carousel-control-prev i{
	font-size:100px;
}
.container-fluid h2{
		font-size: 2em;
		letter-spacing:2px;
}
.container-fluid h4{
		width: 100%;
		letter-spacing: 1px;
		margin-left: auto;
		font-size:1em;
		text-align: center;
}
/* -----------------------network------------------------ */
.network{
	height:auto;
	padding: 0;
}
.row{
	width: 100%;
}
.network-left{
	width: 100%;
	background-color: #F8F8F8;
	padding: 50px 0;
}
.network-left table{
	display: none;
}
.mob-network-div{
	display: block;
	color:#939393
}
.mob-network-div ul{
	list-style: none;
}
.mob-network-div li{
	margin-bottom: 25px
}
.mob-network-div img{
	height: 50px;
	width: 50px;
	margin: 0 10px 0 10px;
}
.mob-network-div h5{
	padding-top:10px;
	margin-right:2px
}
.network-right h1{
	margin-top: 120px;
	margin-left:auto;
	margin-right: 10%;
	font-size: 3.25em;
	transition: all 2s ease;
	color: #FF5851;
	letter-spacing:2px;
	width: 100%;
}
.network-right h1:hover{
	letter-spacing:0px;
}
.network-right{
	padding: 0;
	text-align:left;
}
.network-right h4{
	margin:0 0 0 8%  !important;
	width:250px;
	height:20px;
	font-size: 1em;
}
/* ------------------------------Contact------------------------------------- */
.contact-container h1{
	font-size: 3em;
	margin-bottom: 10px;
}
.contact-row{
	margin: 0;
	padding: 0;

}
.contact-row-info{
	padding: 50px 0;
	width: 100%;
}
.contact-row-table table{
	width: 80%;
	margin: 0 auto 0 auto;
}
.contact-row-table table tr{
	margin-bottom: 10px;
}
.contact-row-table{
	padding: 50px 0 50px 0;
	background-color: rgba(34, 34, 34, 1.0) !important ;
}
.contact-container{
	margin-top: 50px;
	margin-bottom: 50px;
}
.contact-row-info h6{
	width: 80%;
}

#footer{
	color:white;
	background-color:rgba(34, 34, 34, 1.0) ;
	padding: 15px;
	margin-bottom: 0;
	display: flex;
}
#footer p{
	line-height:40px;
	color: #F8F8F8;
}








} 

